{% extends 'kampus/navbar.html' %}

{% block content %}
<body>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h1 class="text-center">Selamat Datang Di Web-Qu</h1> 
        <div>
            <p><b>Nama : </b></p> <p>Alwan Farhan Aziz</p>
            <p><b>Semester : </b></p> <p>3</p>
            <p><b>Program : </b></p> <p>S1</p>
            <p><b>Prodi</b></p> <p>Ilmu Komputer </p>
            <p><b>Dosen Pembimbing : </b></p><p>Gempa Hendratna, S.Kom, M.Kom</p>

        </div>
        
    </div>

    <div class="container bg-white shadow-md p-5 form-layout">
        {% for mahasiswa in AllMahasiswa  %}
        {{mahasiswa.nama}} <br>
        {{mahasiswa.nim}} <br>
        {{mahasiswa.jenis_kelamin}} <br>
        {{mahasiswa.alamat}} <br>
        {{mahasiswa.programstudi}} <br>
        {{mahasiswa.telephone}} <br>

        <a href="{% url 'update-mahasiswa' mahasiswa.id %}">Edit</a> &nbsp;
        <a href="{% url 'delete-mahasiswa' mahasiswa.id %}"> Hapus</a><br><br>
            
        {% endfor %}
        
    </div>
</body>



{% endblock content %}
